chumpy==0.70
easydict==1.9
einops==0.3.2
h5py==3.3.0
imageio==2.9.0
joblib==1.1.0
keras==2.7.0
kornia==0.6.4
loguru==0.5.3
matplotlib==3.4.2
numpy==1.21.5
oauthlib==3.1.1
opencv-python==4.5.3.56
pandas==1.1.5
Pillow==8.4.0
plotly==5.3.1
pluggy==1.0.0
pyembree==0.1.6
PyOpenGL @ file:///Data1/tianyiYue/Workspace/src/pyopengl
pyrender==0.1.45
pytorch-lightning==1.5.7
pytorch3d==0.6.0
PyYAML==6.0
scikit-image==0.18.2
scipy @ file:///tmp/build/80754af9/scipy_1618852618548/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
smplx==0.1.28
spacepy==0.2.2
spconv @ file:///Data1/tianyiYue/Workspace/src/spconv1/spconv/dist/spconv-1.2.1-cp37-cp37m-linux_x86_64.whl
tensorboard==2.7.0
timm==0.4.12
torch==1.9.0
torchgeometry==0.1.2
torchvision==0.10.0
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
trimesh==3.9.21
yacs==0.1.8